* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

.container {
    display: flex;
    /* background-color: #fff; */
}

/* Sidebar */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 240px;
    background: #1e293b;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: 0.3s;
    z-index: 100;
}

.sidebar:not(.open) {
    width: 70px;
    align-items: center;
}

.sidebar:not(.open) .navlinks span {
    display: none !important;
}

.sidebar:not(.open) .navlinks {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #364866;
    border-radius: 50%;
    transition: 0.3s;
}

.sidebar:not(.open) .navlinks svg {
    font-size: 22px;
    color: white;
}

.sidebar:not(.open) .navlinks:hover {
    background-color: #3b82f6;
    transform: scale(1.1);
}

.sidebar:not(.open) .navlinks svg {
    font-size: 30px;
    color: white;
}

.sidebar:not(.open) .logo {
    display: none;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

/* Nav Links */
.navlinks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 13px;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    transition: 0.2s;
    background-color: #b59c20;
}

.navlinks:hover {
    background: #334155;
}

.navlinks.active {
    background: #b6b626;
}

/* Logout */
.logout {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 13px;
    border: none;
    background: #ef4444;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.sidebar:not(.open) .logout span {
    display: none !important;
}

.sidebar:not(.open) .logout {
    width: 50px;
    height: 50px;
    padding: 0;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #c01c1c;
    display: flex;
}

.sidebar:not(.open) .logout svg {
    font-size: 22px;
}

.sidebar:not(.open) .logout:hover {
    background-color: #ef4444; /* red for logout */
    transform: scale(1.1);
    transition: 0.3s;
}

/* Main */
.main {
    flex: 1;
    margin-left: 240px; /* sidebar width */
    height: 100vh;
    overflow-y: auto; /* ?? only content scroll */
    background: #f1f5f9;
    transition: 0.3s;
}

.sidebar:not(.open) ~ .main {
    margin-left: 70px;
}

/* Header */
.header {
    position: sticky;
    top: 0;
    z-index: 10;
    background: white;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.header button {
    font-size: 20px;
    background: #3b82f6;
    border: none;
    color: white;
    padding: 5px 12px;
    border-radius: 5px;
    cursor: pointer;
}