* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  height: 70px;
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  position: fixed;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid #84205f;
}

.logo img {
  height: 50px;
}

.ul-list ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.ul-list ul li a {
  color: #b3025a;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

.ul-list ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background: #b3025a;
  transition: 0.3s;
}

.ul-list ul li a:hover::after {
  width: 100%;
}

.mobile-btn-container {
  display: flex;
  gap: 10px;
}

.login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #2ecc71, #da3da0);
  border-radius: 8px;
  color: white;
  text-decoration: none;
}

.cart {
  position: relative;
  font-size: 22px;
  color: #2ecc71;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -10px;
  background: #e20272;
  color: white;
  font-size: 10px;
  padding: 2px 6px;
  border-radius: 50%;
}

.menu-icon {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

@media (max-width: 768px) {

  .menu-icon {
    display: block;
  }

  .ul-list {
    position: absolute;
    top: 70px;
    left: -100%;
    width: 100%;
    background: rgb(229, 204, 227);
    transition: 0.3s;
  }

  .ul-list.active {
    left: 0;
    background-color: #2ecc71;
  }

  .ul-list ul {
    flex-direction: column;
    align-items: center;
    padding: 25px;
    gap: 20px;
  }

  .mobile-btn-container {
    display: none;
  }

  .ul-list ul::after {
    content: "";
  }

  .ul-list ul li:last-child {
    margin-bottom: 10px;
  }

  .ul-list.active::after {
    content: "";
  }

  .ul-list.active {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ul-list.active::before {
    content: "";
  }

  .ul-list.active + .mobile-btn-container {
    display: flex;
    position: absolute;
    top: 300px;
    width: 80%;
    align-items: center;
    justify-content: center;
  }
}