.login-outer {
  width: 450px;
  background: linear-gradient(135deg, #2ecc71, #da3da0);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  border-radius: 18px;
  margin: 100px auto;
  padding: 25px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.login-outer h1 {
  font-size: 32px;
  color: #176d3b;
}

.btn-icon img {
  height: 50px;
  width: 50px;
}

/* INPUT */
.login-outer input {
  height: 50px;
  font-size: 16px;
  outline: none;

}

/* FORM */
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form label {
  font-size: 16px;
  font-weight: bold;
  color: #176d3b;
}

.form span {
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  color: #0e4123;
}

/* DIVIDER */
.divider {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 380px;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid rgba(255,255,255,0.5);
}

.login-btn {
  height: 50px;
  width: 150px;
  font-size: 20px;
  font-weight: bold;
}

.divider span {
  margin: 0 10px;
  font-weight: bold;
  color: white;
}

/* TEXT */
.login-outer p {
  text-align: center;
  font-size: 18px;
  color: white;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .login-outer {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .login-outer {
    width: 95%;
    padding: 20px;
  }

  .login-outer h1 {
    font-size: 26px;
  }
}