body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #b3025a;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.head {
  text-align: center;
  color: #b3025a;
  margin-top: 80px;
}

.product-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 20px 70px;
}

.close {
  font-size: 18px;
  background-color: #b3025a;
}

h2 {
  text-align: center;
  color: rgb(94, 234, 94);
}

.card-outer {
  width: 250px;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  background: linear-gradient(to right, #2ecc71, #da3da0);
  overflow: hidden;
  color: white;
}

.cart-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  margin: 10px auto;
  background: linear-gradient(to right, #2ecc71, #da3da0);
  color: white;
  border-radius: 10px;
  padding: 6px 10px;
  cursor: pointer;
}

.cart-btn span {
  font-size: 18px;
  font-weight: bold;
  padding: 4px 10px;
  transition: 0.2s;
  border-radius: 10px;
}

/* + button */
.cart-btn .increase {
  background: #22c55e;
}

.cart-btn .increase:hover {
  background: #14853d;
}

/* - button */
.cart-btn .decrease {
  background: #da3da0;
}

.cart-btn .decrease:hover {
  background: #dc26d3;
}

/* cart icon */
.cart-icon {
  font-size: 15px;
  color: #ffffff;
}

.card-outer img {
  height: 180px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.card-outer button {
  height: 50px;
  width: 100px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(to right, #2ecc71, #da3da0);
  margin: 5px;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.3s ease;
  cursor: pointer;
}

.card-outer button:hover {
  background-color: rgb(129, 161, 64);
  color: white;
}

.buy-outer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 300px;
  z-index: 9999;
}

.buy-inner {
  width: 75%;
  max-width: 850px;
  background: white;
  display: flex;
  border-radius: 12px;
  overflow: hidden;
}

.buy-left {
  width: 60%;
  padding: 25px;
  background: #b3025a;
}

.buy-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.flex {
  display: flex;
  gap: 10px;
}

.buy-form input,
.buy-form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 14px;
}

.buy-form textarea {
  height: 70px;
  resize: none;
}

.buy-left button {
  margin-top: 10px;
  height: 45px;
  border-radius: 8px;
  border: none;
  background: white;
  font-weight: bold;
  cursor: pointer;
}

.radio-group {
  display: flex;
  color: white;
}

.buy-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  background: #111;
}

.image {
  height: 60%;
  background: #eee;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  height: 40%;
  padding: 15px;
  color: white;
}

.buy-right button {
  margin: 10px;
  padding: 8px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .buy-inner {
    flex-direction: column;
    width: 50%;
  }

  .buy-left,
  .buy-right {
    width: 100%;
  }

  .image {
    height: 200px;
  }

  .flex {
    flex-direction: column;
  }
}
