/* ================= GLOBAL ================= */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/* ================= PRODUCTS ================= */
.product-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 20px 70px;
}

.close {
  font-size: 18px;
  background-color: #B3025A;
}

h2 {
  text-align: center;
  color: #B3025A;
}

/* ================= PRODUCT CARD ================= */
.card-outer {
  width: 250px;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  background-color: #B3025A;
  overflow: hidden;
  color: white;
}

.card-outer img {
  height: 180px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.card-outer button {
  height: 40px;
  width: 100px;
  border-radius: 10px;
  border: none;
  background-color: rgb(94, 234, 94);
  margin: 5px;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.3s ease;
  cursor: pointer;
}

.card-outer button:hover {
  background-color: rgb(129, 161, 64);
  color: white;
}

/* ================= BUY MODAL ================= */

.buy-outer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 300px;
  z-index: 9999;
}

/* Modal box */
.buy-inner {
  width: 75%;
  max-width: 850px;
  background: white;
  display: flex;
  border-radius: 12px;
  overflow: hidden;
}

/* LEFT */
.buy-left {
  width: 60%;
  padding: 25px;
  background: #B3025A;
}

/* FORM */
.buy-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* FLEX ROW */
.flex {
  display: flex;
  gap: 10px;
}

/* INPUT */
.buy-form input,
.buy-form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 14px;
}

/* TEXTAREA */
.buy-form textarea {
  height: 70px;
  resize: none;
}

/* BUTTON */
.buy-left button {
  margin-top: 10px;
  height: 45px;
  border-radius: 8px;
  border: none;
  background: white;
  font-weight: bold;
  cursor: pointer;
}

/* RADIO */
.radio-group {
  display: flex;
  color: white;
}

/* RIGHT */
.buy-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  background: #111;
}

/* IMAGE */
.image {
  height: 60%;
  background: #eee;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* DESCRIPTION */
.description {
  height: 40%;
  padding: 15px;
  color: white;
}

/* CLOSE BUTTON */
.buy-right button {
  margin: 10px;
  padding: 8px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

/* ================= RESPONSIVE ================= */
@media (max-width: 768px) {
  .buy-inner {
    flex-direction: column;
    width: 50%;
  }

  .buy-left,
  .buy-right {
    width: 100%;
  }

  .image {
    height: 200px;
  }

  .flex {
    flex-direction: column;
  }
}