.outer {
  width: 350px;
  background: linear-gradient(135deg, #2ecc71, #da3da0);
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 18px;
  margin: 100px auto;
  padding: 20px;
}

/* TITLE */
.outer h1 {
  color: white;
  font-size: 32px;
  text-align: center;
}

.btn-icon {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.register-form label {
  font-size: 16px;
  color: #540c3a;
  font-weight: bold;
}

/* INPUT */
input {
  font-size: 16px;
  outline: none;
  color: #0a3b1f;
  padding: 10px;
  margin: 5px;
}

.regiter-btn {
  height: 50px;
  width: 300px;
  font-weight: bold;
  font-size: large;
}

 p {
  font-size: 18px;
  text-align: center;
}

p a {
  color: rgb(66, 204, 75);
  font-weight: bold;
  text-decoration: underline;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .outer {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .outer {
    width: 95%;
  }
}