.header-button{
    height: 50px;
    width: 100%;
    background-color: rgb(59, 77, 108);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-button h2 {
    color: white;
}

.add-product-image {
    height: 80px;
    width: 80px;
}

.ed-btn {
    height: 40px;
    width: 100px;
    background-color:  #f0e9e9;
    border-radius: 10px;
    margin: 5px;
    border: 1px solid black;
    color: black;
}

.add-form-btn {
 height: 40px;
 width: 150px;
 background-color: rgb(255, 255, 255);
 border-radius: 10px;
 border: 1px solid;
 font-size: 15px;
 color: black;
}

.p-datatable .p-column-header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-datatable .p-datatable-tbody td,tr {
  text-align: center !important;
  border: 1px solid #000;
  padding: 10px;
}


.ed-btn {
  height: 35px;
  width: 90px;
  color: black;
  margin: 5px;
  border: none;
  cursor: pointer;
  border: 1px solid;
}


.m-0 {
    height: 400px;
    width: 500px;
    background-color: brown;
    display: flex;
    align-items: center;
}

.m-0 input {
    height: 45px;
    width: 300px;
    margin: 15px;
    border-radius: 10px;
}

.p-dialog .p-dialog-content {
    
    padding: 20px;
    overflow: hidden;
}

.p-dialog {
  border-radius: 10px;
  padding: 20px;
  color: White;
  font-size: 18px;
}

.add-btn {
    height: 45px;
    width: 150px;
    border-radius: 10px;
    background-color: #3b82f6;
    color: white;
    font-size: 15px;
}

.dialog {
    width: 450px;
}

.search {
    height: 100px;
    width: 100%;
    display: flex;align-items: center;
    justify-content: center;
    background-color: #1E293B;
}

.search input {
    height: 45px;
    width: 700px;
    border: 1px solid rgb(91, 155, 207);

    

}